﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">Blazor Cert App</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/teste">
                <span class="oi oi-caret-right" aria-hidden="true"></span> Fazer o teste agora
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/meu-certificado">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Meu Certificado
            </NavLink>
        </li>
    </ul>
</div>

@functions {
bool collapseNavMenu = true;

void ToggleNavMenu()
{
    collapseNavMenu = !collapseNavMenu;
}
}
